<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>YogiYo</title>
  <link rel="stylesheet" href="../static/style.css">
  <div class="inner"></div>
  <div><a href="/" style="width: 10px"><indexbutton style="top:10px;" >Back</indexbutton></a></div>
</head>

<p style="position:fixed; font-size: 23px; width:1000px; top:280px; left:70px;">
    Hey there! Welcome to YogiYo, an app designed to catch monsters just kidding!
    The app is designed to predict yoga poses.
    This is our first Machine Learning project, but hopefully not the last!
    Stay tuned for an upcoming versionthat allows real time pose detection.
</p>

</body>


<footer>&copy; Copyright & Stuff 2020. By Hanane,Virginie and Veronica Made With ❤️ & a lot of 💧.</footer>
</html>
